// Couleur du texte par defaut
$texte-default-color: #fff;

// Couleur du background par defaut
$bg-header-color: #065006;

// Couleur du background par defaut
$bg-default-color: rgba(211,238,231,255);

// Couleur du backgroundbtn "commencer"
$bg-btn-color: #55AB41;

// Couleur du bg des listes des entreprises
$bg-list-entreprises-color: #28531e;

// Couleur du hover backgroundbtn "commencer"
$bg-btn-hover-color: #28531e;

// Couleur des gros titres
$title-h-color: #07272d;
