// Couleur du texte par defaut
$texte-default-color: #fff;

// Couleur du background par defaut
$bg-default-color: #59b44429;

// Couleur du background "header"
$bg-header-color: #3D3D33;

// Couleur du backgroundbtn "commencer"
$bg-swipper-color: #55AB41;

// Couleur des gros titres
$title-h-color: #07272d;
