@use '../../sass/colors.scss' as c;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: c.$bg-header-color;

        img {
            width: 15rem;
        }
}

.container {
    background-color: c.$bg-default-color;

    .accueil {
        display: flex;
        align-items: center;
        height: 50%;

        .title-btn{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 3rem;

            h1 {
                background-color: #fff;
                width: 100vw;
            }
        }

        .btn {
            padding: 0 5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: #fff;
            background-color: c.$bg-btn-color;

                &:hover {
                    background-color: c.$bg-btn-hover-color;
                }
        }
    }
}
