@use '../../sass/colors.scss' as c;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: rgb(6, 80, 6);

        img {
            width: 15rem;
        }
}

.container {
    display: flex;
    justify-content: center;
    background-color: c.$bg-default-color;
    position: relative;

    .accueil {
        display: flex;
        align-items: center;
        height: 50%;

        .btn {
            padding: 0 5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: #fff;
            background-color: c.$bg-btn-color;

                &:hover {
                    background-color: c.$bg-btn-hover-color;
                }
        }
    }

    .logoSVG {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
}
