@use '../../sass/colors.scss' as c;

.container {
    display: flex;
    justify-content: center;
    background-color: c.$bg-default-color;
    height: 100vh;

    .avisdepassage {
        border: 2px solid #fff;
        border-radius: 1rem;
        padding: 5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        text-align: center;

        .input {
            padding: 1rem;
            border: 1px solid #fff;
            border-radius: 1rem;
        }
    }

    .sous-titre {
        text-align: center;
        padding-bottom: 5rem;

        h2 {
            text-transform: uppercase;
            margin: 0;
        }
    }

    .signatures {
        display: flex;
        text-align: center;
    }

    .listentreprises {
        text-align: center;
    }

    .btnSubmit {
        display: flex;
        justify-content: center;
        padding-top: 8rem;

        .btn {
            padding: 0 5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: #fff;
            background-color: c.$bg-btn-color;

            &:hover {
                background-color: c.$bg-btn-hover-color;
            }
        }
    }
}