@use '../../sass/colors.scss' as c;

@media screen and (max-width: 575px) {
    .avisdepassage {
        display: flex;
        flex-direction: column;
    }
}

.container {
    display: flex;
    justify-content: center;
    background-color: c.$bg-default-color;
    height: 100vh;

    .avisdepassage {
        display: flex;
        gap: 10rem;
        text-align: center;

        .form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 1rem;

            .input {
                padding: 1rem;
                border: 1px solid #fff;
                border-radius: 1rem;
            }
        }

        .observation {
            display: flex;
            flex-direction: column;
            text-align: center;


            .form {
                margin: 0;
                text-transform: uppercase;
                font-size: 2rem;

                .input {
                    padding: 10rem;
                    border: 1px solid #fff;
                    border-radius: 1rem;
                }
            }

            span {
                font-size: 1.5rem;
            }
        }

        .signatures {
            display: flex;
            text-align: center;
        }

        .listentreprises {
            text-align: center;

            .entreprise {
                padding: 1rem;
                margin: 1rem;
                color: #fff;
                background-color: c.$bg-list-entreprises-color;
            }
        }

        .btnSubmit {
            display: flex;
            justify-content: center;
            padding-top: 3rem;

            .btn {
                padding: 0 5rem;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: #fff;
                background-color: c.$bg-btn-color;

                &:hover {
                    background-color: c.$bg-btn-hover-color;
                }
            }
        }
    }
}