@use '../../sass/colors.scss' as c;

.header {
    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: c.$bg-header-color;
}

.container {
    display: flex;
    justify-content: center;
    background-color: c.$bg-default-color;
    height: 100vh;

    .avisdepassage {
        display: flex;
        align-items: center;
        height: 50%;
    }
}
